version: '3.8'

services:
  orchestrator:
    build: ./orchestrator
    ports: ["5000:5000"]
    environment:
      - PORT=5000

  cart_service:
    build: ./services/1926462_cart_service
    ports: ["5101:5101"]
    environment:
      - SERVICE_NAME=cart_service
      - PORT=5101
      - FAIL_RATE=0.0

  inventory_service:
    build: ./services/2182527_inventory_service
    ports: ["5103:5103"]
    environment:
      - SERVICE_NAME=inventory_service
      - PORT=5103
      - FAIL_RATE=0.0

  notification_service:
    build: ./services/2179652_notification_service
    ports: ["5107:5107"]
    environment:
      - SERVICE_NAME=notification_service
      - PORT=5107
      - FAIL_RATE=0.4