apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-service
  namespace: saga-ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing-service
  template:
    metadata:
      labels:
        app: billing-service
    spec:
      containers:
      - name: billing-service
        image: saga-ecommerce-billing_service
        env:
        - name: SERVICE_NAME
          value: "billing-service"
        - name: PORT
          value: "5106"
        ports:
        - containerPort: 5106
---
apiVersion: v1
kind: Service
metadata:
  name: billing-service
  namespace: saga-ecommerce
spec:
  selector:
    app: billing-service
  ports:
  - protocol: TCP
    port: 5106
    targetPort: 5106
