apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart-service
  namespace: saga-ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cart-service
  template:
    metadata:
      labels:
        app: cart-service
    spec:
      containers:
      - name: cart-service
        image: saga-ecommerce-cart_service
        env:
        - name: SERVICE_NAME
          value: "cart-service"
        - name: PORT
          value: "5101"
        ports:
        - containerPort: 5101
---
apiVersion: v1
kind: Service
metadata:
  name: cart-service
  namespace: saga-ecommerce
spec:
  selector:
    app: cart-service
  ports:
  - protocol: TCP
    port: 5101
    targetPort: 5101
