apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: saga-ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-service
        image: saga-ecommerce-notification_service
        env:
        - name: SERVICE_NAME
          value: "notification-service"
        - name: PORT
          value: "5107"
        ports:
        - containerPort: 5107
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: saga-ecommerce
spec:
  selector:
    app: notification-service
  ports:
  - protocol: TCP
    port: 5107
    targetPort: 5107
