apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: saga-ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: saga-ecommerce-order_service 
        env:
        - name: SERVICE_NAME
          value: "order-service"
        - name: PORT
          value: "5104"
        ports:
        - containerPort: 5104
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: saga-ecommerce
spec:
  selector:
    app: order-service
  ports:
  - protocol: TCP
    port: 5104
    targetPort: 5104
