apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: saga-ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: saga-ecommerce-payment_service
          env:
            - name: SERVICE_NAME
              value: "payment-service"
            - name: PORT
              value: "5102"
          ports:
            - containerPort: 5102
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: saga-ecommerce
spec:
  selector:
    app: payment-service
  ports:
    - protocol: TCP
      port: 5102
      targetPort: 5102
